<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ManterClienteController</servlet-name>
        <servlet-class>controller.ManterClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterComidaController</servlet-name>
        <servlet-class>controller.ManterComidaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterComidaControllerADM</servlet-name>
        <servlet-class>controller.ManterComidaControllerADM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterLojaController</servlet-name>
        <servlet-class>controller.ManterLojaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterPedidoController</servlet-name>
        <servlet-class>controller.ManterPedidoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcessoNegadoController</servlet-name>
        <servlet-class>controller.AcessoNegadoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginLojaController</servlet-name>
        <servlet-class>controller.LoginLojaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterComidaPedidaController</servlet-name>
        <servlet-class>controller.ManterComidaPedidaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroLojaController</servlet-name>
        <servlet-class>controller.CadastroLojaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroClienteController</servlet-name>
        <servlet-class>controller.CadastroClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdmController</servlet-name>
        <servlet-class>controller.LoginAdmController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginClienteController</servlet-name>
        <servlet-class>controller.LoginClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterCupomDescontoController</servlet-name>
        <servlet-class>controller.ManterCupomDescontoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterTipoCozinhaController</servlet-name>
        <servlet-class>controller.ManterTipoCozinhaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterTipoPagamentoController</servlet-name>
        <servlet-class>controller.ManterTipoPagamentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaClienteController</servlet-name>
        <servlet-class>controller.PesquisaClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaClienteControllerADM</servlet-name>
        <servlet-class>controller.PesquisaClienteControllerADM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaComidaController</servlet-name>
        <servlet-class>controller.PesquisaComidaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaComidaControllerADM</servlet-name>
        <servlet-class>controller.PesquisaComidaControllerADM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaComidaLojaClienteController</servlet-name>
        <servlet-class>controller.PesquisaComidaLojaClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaComidaLojaController</servlet-name>
        <servlet-class>controller.PesquisaComidaLojaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaComidaPedidaController</servlet-name>
        <servlet-class>controller.PesquisaComidaPedidaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaCupomDescontoController</servlet-name>
        <servlet-class>controller.PesquisaCupomDescontoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaFavoritoController</servlet-name>
        <servlet-class>controller.PesquisaFavoritoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaLojaController</servlet-name>
        <servlet-class>controller.PesquisaLojaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaLojaControllerADM</servlet-name>
        <servlet-class>controller.PesquisaLojaControllerADM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaPedidoClienteController</servlet-name>
        <servlet-class>controller.PesquisaPedidoClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaPedidoController</servlet-name>
        <servlet-class>controller.PesquisaPedidoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaPedidoControllerCliente</servlet-name>
        <servlet-class>controller.PesquisaPedidoControllerCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaTipoCozinhaController</servlet-name>
        <servlet-class>controller.PesquisaTipoCozinhaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaTipoPagamentoController</servlet-name>
        <servlet-class>controller.PesquisaTipoPagamentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>controller.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioAdministrador</servlet-name>
        <servlet-class>relatorio.RelatorioAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioCliente</servlet-name>
        <servlet-class>relatorio.RelatorioCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioClienteCidade</servlet-name>
        <servlet-class>relatorio.RelatorioClienteCidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioClienteID</servlet-name>
        <servlet-class>relatorio.RelatorioClienteID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioLoja</servlet-name>
        <servlet-class>relatorio.RelatorioLoja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioLojaCozinha</servlet-name>
        <servlet-class>relatorio.RelatorioLojaCozinha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioTipoCozinha</servlet-name>
        <servlet-class>relatorio.RelatorioTipoCozinha</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterClienteController</servlet-name>
        <url-pattern>/ManterClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterComidaController</servlet-name>
        <url-pattern>/ManterComidaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterComidaControllerADM</servlet-name>
        <url-pattern>/ManterComidaControllerADM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterLojaController</servlet-name>
        <url-pattern>/ManterLojaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterPedidoController</servlet-name>
        <url-pattern>/ManterPedidoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcessoNegadoController</servlet-name>
        <url-pattern>/AcessoNegadoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginLojaController</servlet-name>
        <url-pattern>/LoginLojaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterComidaPedidaController</servlet-name>
        <url-pattern>/ManterComidaPedidaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroLojaController</servlet-name>
        <url-pattern>/CadastroLojaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroClienteController</servlet-name>
        <url-pattern>/CadastroClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdmController</servlet-name>
        <url-pattern>/LoginAdmController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginClienteController</servlet-name>
        <url-pattern>/LoginClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterCupomDescontoController</servlet-name>
        <url-pattern>/ManterCupomDescontoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterTipoCozinhaController</servlet-name>
        <url-pattern>/ManterTipoCozinhaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterTipoPagamentoController</servlet-name>
        <url-pattern>/ManterTipoPagamentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaClienteController</servlet-name>
        <url-pattern>/PesquisaClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaClienteControllerADM</servlet-name>
        <url-pattern>/PesquisaClienteControllerADM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaComidaController</servlet-name>
        <url-pattern>/PesquisaComidaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaComidaControllerADM</servlet-name>
        <url-pattern>/PesquisaComidaControllerADM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaComidaLojaClienteController</servlet-name>
        <url-pattern>/PesquisaComidaLojaClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaComidaLojaController</servlet-name>
        <url-pattern>/PesquisaComidaLojaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaComidaPedidaController</servlet-name>
        <url-pattern>/PesquisaComidaPedidaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaCupomDescontoController</servlet-name>
        <url-pattern>/PesquisaCupomDescontoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaFavoritoController</servlet-name>
        <url-pattern>/PesquisaFavoritoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaLojaController</servlet-name>
        <url-pattern>/PesquisaLojaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaLojaControllerADM</servlet-name>
        <url-pattern>/PesquisaLojaControllerADM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaPedidoClienteController</servlet-name>
        <url-pattern>/PesquisaPedidoClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaPedidoController</servlet-name>
        <url-pattern>/PesquisaPedidoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaPedidoControllerCliente</servlet-name>
        <url-pattern>/PesquisaPedidoControllerCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaTipoCozinhaController</servlet-name>
        <url-pattern>/PesquisaTipoCozinhaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaTipoPagamentoController</servlet-name>
        <url-pattern>/PesquisaTipoPagamentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioAdministrador</servlet-name>
        <url-pattern>/RelatorioAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioCliente</servlet-name>
        <url-pattern>/RelatorioCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioClienteCidade</servlet-name>
        <url-pattern>/RelatorioClienteCidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioClienteID</servlet-name>
        <url-pattern>/RelatorioClienteID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioLoja</servlet-name>
        <url-pattern>/RelatorioLoja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioLojaCozinha</servlet-name>
        <url-pattern>/RelatorioLojaCozinha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioTipoCozinha</servlet-name>
        <url-pattern>/RelatorioTipoCozinha</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
